@charset "utf-8";

/*ウォレット*/
import {
	ThirdwebProvider,
	ConnectWallet,
	metamaskWallet,
	walletConnect,
	localWallet,
	embeddedWallet,
	rainbowWallet,
	phantomWallet,
	lightTheme,
  } from "@thirdweb-dev/react";
  
  export default function App() {
	return (
	  <ThirdwebProvider
		activeChain="mumbai"
		clientId="5a4e1a41cb679baaa5fe7b2498ff32e4"
		supportedWallets={[
		  metamaskWallet(),
		  walletConnect(),
		  localWallet(),
		  embeddedWallet(),
		  rainbowWallet(),
		  phantomWallet(),
		]}
	  >
		<ConnectWallet
		  theme={lightTheme({
			colors: {
			  accentText: "#d34fee",
			  accentButtonBg: "#c7a1ce",
			  modalBg: "#eae6ef",
			  dropdownBg: "#eae6ef",
			  borderColor: "#a9a2a9",
			  separatorLine: "#e2daec",
			  success: "#68ca9b",
			  danger: "#df5134",
			  primaryText: "#504c57",
			  secondaryText: "#b55aa1",
			  primaryButtonBg: "#e16ba4",
			  secondaryButtonText: "#6b6576",
			  secondaryIconHoverColor: "#756e81",
			  selectedTextBg: "#716e77",
			},
		  })}
		  modalSize={"wide"}
		/>
	  </ThirdwebProvider>
	);
  }
/*/ウォレット*/
  


.cp_hr07 {
	position: relative;
	overflow: visible;
	text-align: center;
	color: #da55ad;
	border-width: 3px 0 0 0;
	border-style: double;
	border-color: #da55ad;
}
.cp_hr07::after {
	position: absolute;
	top: -1em;
	left: 50%;
	display: inline-block;
	content: 'NFT LIST';
	background: #ffffff;
}




/* CSSコード */
.hr1 {
	position: relative;
	  height: 1.5px;
	  border-width: 0;
	  background-color: #ffffff;
	  background-image: -webkit-linear-gradient( 135deg, #da55ad 10%, #f7e6f4 100%);
	  background-image: linear-gradient( 135deg, #da55ad 10%, #f7e6f4 100%);
  }


/*縦書きバー
---------------------------------------------------------------------------*/
#message a {
	text-decoration: none;display: block;
	writing-mode: vertical-rl;
	text-orientation: upright;
	background: #fa4cb2;/*背景色*/
	color: #fff;		/*文字色*/
	position: fixed;	/*スクロールしてもボタンが移動しないようにする指定。移動させたいならfixedをabsoluteにして下さい。*/
	z-index: 1;
	right: 0px;			/*ボタンの右からの配置場所指定*/
	top: 170px;			/*ボタンの上からの配置場所指定*/
	padding: 20px 15px;	/*ボタン内の余白。上下、左右。*/
	border-radius: 10px 0px 0px 10px;	/*角を丸くする指定。左上、右上、右下、左下の順番。*/
	letter-spacing: 0.1rem;	/*文字間隔を少しだけ広く*/
}

/*ふきだしアイコン*/
#message i {
	transform: scale(1.3);	/*1.3倍に*/
	margin-bottom: 10px;	/*下に空ける余白*/
}


/*btnの設定（「btn1」と「btn2」）
---------------------------------------------------------------------------*/
/*ボタン共通*/
.btn1 a, .btn2 a {
	display: inline-block;text-decoration: none;
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くとる*/
	border-radius: 3px;		/*角を丸くする指定*/
	padding: 0.3rem 2rem;	/*上下、左右へのボタン内の余白*/
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);	/*ボックスの影。右へ、下へ、ぼかし幅。0,0,0は黒の事で0.2は色が20%出た状態。*/
	transition: 0.3s;	/*hoverまでにかける時間。0.3秒。*/
}

/*iタグ共通（アイコンの事）*/
.btn1 a i, .btn2 a i {
	padding-left: 1em;	/*アイコンとテキストの間の余白*/
}

/*btn1の追加指定*/
.btn1 a {
	background: #fff;		/*背景色*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}

/*btn1内のiタグ（アイコンの事）*/
.btn1 a i {
	color: #999;	/*アイコンの色*/
}

/*btn2の追加指定*/
.btn2 a {
	background: #999;	/*背景色*/
	color: #fff;		/*文字色*/
}

/*マウスオン時*/
.btn1 a:hover, .btn2 a:hover {
	transform: scale(1.03);		/*103%に拡大する*/
	filter: brightness(1.1);	/*少しだけ明るくする*/
}


/*アニメーションボタン。（枠線をぐるっとなぞるアニメーション）
---------------------------------------------------------------------------*/
@keyframes w {0% {width: 0px;} 100% {width: 100%;}}
@keyframes h {0% {height: 0px;} 100% {height: 100%;}}

/*ボタンの一番の外側のボックス*/
.animation-btn {
	position: relative;		/*枠線をアニメーションさせる為に必要な指定*/
	display: inline-block;
	box-shadow: 0px 0px 0px 1px #c98dbf inset;	/*デフォルトで見えている枠線の設定*/
}

/*上のanimation-btnの内側にあるボックス*/
.animation-btn-inner {
	display: block;text-decoration: none;
	padding: 0.5em 3em;		/*ボタン内の余白。上下、左右へ。emは文字の単位。1emが1文字分という事です。*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くとる*/
	text-indent: 0.1em;		/*letter-spacingを設定するとその分全体のテキスト位置がずれるので、戻す設定。同じ数字にしておけばOKです。*/
}

/*ボタン内でiタグを使う場合の設定*/
.animation-btn-inner i {
	display: inline-block;
	transition: 0.3s;		/*アニメーションにかける時間。0.3秒。*/
	padding-left: 1em;		/*テキストと、iタグの間の余白*/
}
.animation-btn-inner:hover i {
	transform: translateX(5px);	/*マウスオン時にiタグを5pxだけ右に移動する*/
}

/*枠線共通*/
.animation-btn::before,
.animation-btn::after,
.animation-btn-inner::before,
.animation-btn-inner::after {
	content: "";
	position: absolute;
	background-color: #b93266;		/*background(背景)スタイルですが、hover時の枠線の色になります。*/
	animation-duration: 0.2s;	/*アニメーションにかける時間。１辺あたり0.2秒。*/
	animation-fill-mode: forwards;	/*アニメーション完了時に最後のフレームを維持。この１行を外してみると別の動作になって面白い動きになります。*/
	animation-timing-function: linear;	/*アニメーションの速度のタイプ。同じ速度にする。*/
}

/*ラインアニメーション１（左上→右上）*/
.animation-btn:hover::before {
	left: 0px;				/*開始地点の指示*/
	top: 0px;				/*開始地点の指示*/
	height: 1px;			/*線の幅の代わりになります*/
	animation-name: w;		/*上の「@keyframes」で使うアニメーション名の指定。*/
}

/*ラインアニメーション２（右上→右下）*/
.animation-btn:hover::after {
	right: 0px;				/*開始地点の指示*/
	top: 0px;				/*開始地点の指示*/
	width: 1px;				/*線の幅の代わりになります*/
	animation-name: h;		/*上の「@keyframes」で使うアニメーション名の指定。*/
	animation-delay: 0.2s;	/*アニメーションを0.2秒遅れてスタートさせる。*/
}

/*ラインアニメーション３（右下→左下）*/
.animation-btn-inner:hover::before {
	right: 0px;				/*開始地点の指示*/
	bottom: 0px;			/*開始地点の指示*/
	height: 1px;			/*線の幅の代わりになります*/
	animation-name: w;		/*上の「@keyframes」で使うアニメーション名の指定。*/
	animation-delay: 0.4s;	/*アニメーションを0.4秒遅れてスタートさせる。*/
}

/*ラインアニメーション４（左下→左上）*/
.animation-btn-inner:hover::after {
	left: 0px;				/*開始地点の指示*/
	bottom: 0px;			/*開始地点の指示*/
	width: 1px;				/*線の幅の代わりになります*/
	animation-name: h;		/*上の「@keyframes」で使うアニメーション名の指定。*/
	animation-delay: 0.6s;	/*アニメーションを0.6秒遅れてスタートさせる。*/
}


/*h2タグ
---------------------------------------------------------------------------*/
#contents h2 {
	font-size: 2rem;		/*文字サイズ。bodyで設定しているfont-sizeに対して1.3倍。*/
	padding: 0.4rem 1rem;	/*h2内の余白。上下、左右への順番。*/
	border-radius: 3px;		/*角を少しだけ丸くする指定。不要ならこの１行を削除します。*/
	background: #e0b5d3;	/*背景色。0,0,0は黒のことで0.1は色が10%出た状態。*/
}



/*h3タグ
---------------------------------------------------------------------------*/
#contents h3 {
	font-size: 1.2rem;		/*文字サイズ。bodyで設定しているfont-sizeに対して1.2倍。*/
	padding: 0.4rem 1rem;	/*h2内の余白。上下、左右への順番。*/
	border-radius: 3px;		/*角を少しだけ丸くする指定。不要ならこの１行を削除します。*/
	border: 1px solid #a33b3b;	/*枠線の幅、線種、色*/
}




/*pタグ
---------------------------------------------------------------------------*/
#contents p {
	margin: 1rem;	/*外側に空けるスペース*/
}


/*３列タイプのボックス（grid）
---------------------------------------------------------------------------*/
/*ボックス１個あたり*/
.list-grid .list {
	position: relative;
	margin-bottom: 2rem;	/*ボックス同士の上下間に空けるスペース*/
	padding: 20px;			/*ボックス内の余白*/
	background: #fff;		/*背景色*/
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);	/*ボックスの影。右へ、下へ、ぼかし幅、0,0,0は黒の事で0.1は色が10%出た状態。*/
    display: grid;	/*gridを使う指定*/
    grid-template-rows: auto 1fr auto;	/*list内の上から２番目のブロック(.text)だけ伸ばし、他は自動。*/
}

/*ボックス内のh4タグ*/
.list-grid .list h4 {
	margin: 0;
	color: #333;		/*文字色*/
}
.list-grid .list h4 a {
	color: inherit;
}

/*ボックス内のpタグ*/
.list-grid .list .text p {
	margin: 0;
	font-size: 0.8em;	/*文字サイズを80%に*/
	line-height: 1.5;	/*行間を少し狭く*/
}

/*ボックス内のfigure画像*/
.list-grid .list figure {
	margin-bottom: 1rem;	/*下に空けるスペース*/
}

/*ボタン*/
.list-grid .btn a {
	display: block;text-decoration: none;
	text-align: center;		/*テキストをセンタリング*/
	background: #eee;		/*背景色*/
	border: 1px solid #999;	/*枠線の幅、線種、色*/
	padding: 5px 10px;		/*ボタン内の余白*/
	margin-top: 1rem;		/*ボタンの上に空けるスペース*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:700px) {

	/*listブロック全体を囲むブロック*/
	.list-grid {
		display: grid;	/*gridを使う指定*/
		grid-template-columns: repeat(4, 1fr);	/*３列にする指定。４列にしたければrepeat(4, 1fr)とする。*/
		gap: 2rem;	/*マージン的な指定*/
	}
	
	/*ボックス１個あたり*/
	.list-grid .list {
		margin-bottom: 0;	/*ボックス同士の上下間に空けるスペースをリセット*/
	}

	}/*追加指定ここまで*/



/*.listブロック共通
---------------------------------------------------------------------------*/
.list {
	position: relative;
}

/*figure画像*/
.list figure {
	margin-bottom: 2rem;
}


/*横長タイプのボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたり*/
.list-normal .list {
	display: flex;	/*flexボックスを使う指定*/
	border-bottom: 0px solid #ccc;	/*下線の幅、線種、色*/
	padding: 25px 0;	/*上下、左右へのボックス内の余白*/
}

.list-normal .list div {
	flex: 1;
}

/*１つ目のボックスにのみ上に線を入れる*/
.list-normal .list:nth-of-type(1) {
	border-top: 0px solid #a18282;	/*上の線の幅、線種、色*/
}

/*ボックス内のfigure画像*/
.list-normal .list figure {
	width: 50%;			/*画像の幅*/
	margin-right: 40px;	/*画像の右側に空けるスペース*/
}

/*ボックス内のh4タグ*/
.list-normal .list h4 {
	margin: 0;				/*デフォルトマージンを一旦リセット*/
	margin-bottom: 10px;	/*下に少し余白を作る*/
	color: #333;			/*文字色*/		
}
.list-normal .list h4 a  {
	color: inherit;
}

/*ボックス内のpタグ*/
.list-normal .list p {
	margin: 0;
	font-size: 0.7em;		/*文字サイズを親要素の70%に。*/
}


/*list内のtableっぽく見える所
---------------------------------------------------------------------------*/
/*ボックス全体*/
dl.line {
	margin: 0;
	display: flex;		/*flexボックスを使う指定*/
	flex-wrap: wrap;	/*折り返す指定*/
	font-size: 1em;	/*文字サイズを親要素の70%に。*/
	border-top: 1px solid #ccc;	/*上の線の幅、線種、色*/
}

/*見出し(dt)とコメント(dd)*/
dl.line dt, dl.line dd {
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding: 0 5px;					/*上下、左右へのボックス内の余白*/
}

/*見出し(dt)*/
dl.line dt {
	width: 15em;			/*幅。8文字分。*/
	background: #f0f0f0;	/*背景色*/
}

/*コメント(dd)*/
dl.line dd {
	width: calc(100% - 8em);	/*「8em」は上の「dl.line dt」のwidthの値です。*/
}


	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	dl.line dd {
		width: calc(50% - 8em - 10px);	/*大きな端末向けの再設定。２列にしたいので、100%でなく半分の50%から引いています。*/
		margin-right: 10px;				/*２列になった際の間のスペース*/
	}

	dl.line {border-top: none;}

	dl.line dt:nth-of-type(1), dl.line dd:nth-of-type(1),
	dl.line dt:nth-of-type(2), dl.line dd:nth-of-type(2) {
		border-top: 1px solid #ccc;
	}

	}/*追加指定ここまで*/




/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	font-weight: ;		/*太字に*/
	padding: 0.5rem 1rem;	/*上下、左右へのボックス内の余白。上下に0.5文字分、左右に1文字分。*/
	background: #e0b5d3;		/*背景色*/
	border-radius: 4px;		/*角を丸くする指定*/
	color: #fff;			/*文字色*/
}

/*ta1テーブルブロック設定*/
.ta1 {
    border-collapse: separate;
    border-spacing: 0 1rem;	/*ここと、この下の数字は揃えておきます。要素間の隙間みたいなものです。*/
	margin: 0 -1rem;		/*ここと、この上の数字は揃えておきます。要素間の隙間みたいなものです。*/
}

/*thとtd（左右）共通設定*/
.ta1 th, .ta1 td {
	padding: 0.2rem 1rem;	/*上下、左右へのボックス内の余白。上下に0.2文字分、左右に1文字分。*/
}

/*th（左側）のみの設定*/
.ta1 th {
	width: 20%;			/*幅*/
	background: rgba(0,0,0,0.07);	/*背景色。0,0,0は黒のことで0.07は色が7%出た状態。*/
	border-radius: 4px;	/*角を丸くする指定*/
}


/*フッターメニュー設定
---------------------------------------------------------------------------*/
/*ボックス全体の設定*/
#footermenu {
	background: #0000;	/*背景色*/
	color: #e29399;		/*文字色*/
	font-size: 0.8rem;	/*文字サイズ。bodyのfont-sizeの80%です。*/
	padding: 20px 50px;	/*上下、左右へのボックス内の余白*/
	display: flex;		/*flexボックスを使う指定*/
	justify-content: space-between;	/*並びかたの種類の指定*/
	align-items: flex-start;		/*垂直揃えの指定。上に配置されるように。*/
}

/*ボックス内のリンクテキスト設定*/
#footermenu a {
	text-decoration: none;
	color: inherit;
}

/*ulタグ（メニューの１列あたり）*/
#footermenu ul {
	margin: 0;list-style: none;
	padding: 0 2px;
	flex: 1;
}

/*メニューの見出し(title)*/
#footermenu .title {
	font-weight: bold;		/*太字にする*/
	color: #da536e;			/*文字色*/
	padding-bottom: 5px;	/*下に空けるスペース*/
}



/*「お知らせ」ブロック
---------------------------------------------------------------------------*/
/*お知らせブロック*/
.new {
	margin: 0;
	display: flex;		/*flexボックスを使う指定*/
	flex-wrap: wrap;	/*折り返す指定*/
	padding: 0 1rem;	/*上下、左右へのボックス内の余白*/
}

/*日付(dt)、記事(dd)共通設定*/
.new dt,
.new dd {
	padding: 5px 0;		/*上下、左右へのボックス内の余白*/
}

/*日付(dt)設定*/
.new dt {
	width: 8em;	/*幅。8文字(em)分*/
}

/*日付の横のマーク（共通設定）*/
.new dt span {
	display: none;	/*小さな端末では非表示にしておく。*/
}

/*記事(dd)設定*/
.new dd {
	width: calc(100% - 8em);	/*「8em」は上の「.new dt」のwidthの値です*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	/*日付(dt)設定*/
	.new dt {
		width: 14em;	/*幅。14文字(em)分。アイコン分も含んだ幅にします。*/
		display: flex;	/*flexボックスを使う指定*/
		justify-content: space-between;	/*日付とアイコンをそれぞれ端に寄せる*/
	}

	/*日付の横のマーク（共通設定）*/
	.new dt span {
		display: inline-block;	/*表示させる*/
		width: 7em;				/*幅。7文字(em)分。*/
		background: #999;		/*背景色*/
		color: #fff;			/*文字色*/
		font-size: 0.8em;		/*文字サイズを80%に。*/
		text-align: center;		/*文字をセンタリング*/
		margin-right: 1em;		/*アイコンの右側に空けるスペース*/
		align-self: flex-start;	/*高さを間延びさせない指定*/
		line-height: 1.8;		/*行間を少し狭く*/
		position: relative;top: 0.4em;	/*上下の配置バランスの微調整*/
		border-radius: 2px;		/*角を丸くする指定*/
	}

	/*icon-bg1設定。サンプルテンプレートでは「お知らせ」と書いてあるマーク*/
	.new dt span.icon-bg1 {
		background: #31c79a;	/*背景色*/
	}

	/*icon-bg2設定。サンプルテンプレートでは「作品販売」と書いてあるマーク*/
	.new dt span.icon-bg2 {
		background: #db7093;	/*背景色*/
	}

	/*記事(dd)設定*/
	.new dd {
		width: calc(100% - 14em);	/*「14em」は上の「.new dt」のwidthの値です。*/
	}

	}/*追加指定ここまで*/



/*３列タイプのボックス（flex）
---------------------------------------------------------------------------*/
/*ボックス１個あたり*/
.list-flex .list {
	position: relative;
	margin-bottom: 1rem;	/*ボックス同士の上下間に空けるスペース*/
	padding: 20px;			/*ボックス内の余白*/
	background: #fff;		/*背景色*/
	box-shadow: 5px 5px 20px rgba(11, 116, 116, 0.1);	/*ボックスの影。右へ、下へ、ぼかし幅、0,0,0は黒の事で0.1は色が10%出た状態。*/
	display: flex;				/*flexボックスを使う指定*/
	flex-direction: column;		/*子要素を縦並びにする*/
	justify-content: space-between;	/*並びかたの種類の指定*/
}

/*ボックス内のh4タグ*/
.list-flex .list h4 {
	margin: 0;
	color: #333;	/*文字色*/
}
.list-flex .list h4 a {
	color: inherit;
}

/*ボックス内のpタグ*/
.list-flex .list .text p {
	margin: 0;
	font-size: 0.8em;	/*文字サイズを80%に*/
	line-height: 1.5;	/*行間を少し狭く*/
}

/*ボックス内のfigure画像*/
.list-flex .list figure {
	margin-bottom: 1rem;	/*下に空けるスペース*/
}

/*ボタン*/
.list-flex .btn a {
	display: block;text-decoration: none;
	text-align: center;		/*テキストをセンタリング*/
	background: #eee;		/*背景色*/
	border: 1px solid #999;	/*枠線の幅、線種、色*/
	padding: 5px 10px;		/*ボタン内の余白*/
	margin-top: 1rem;		/*ボタンの上に空けるスペース*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	/*listブロック全体を囲むブロック*/
	.list-flex {
		display: flex;		/*flexボックスを使う指定*/
		flex-wrap: wrap;	/*折り返す指定*/
	}

	/*１個あたりのボックス設定*/
	.list-flex .list {
		width: 20%;			/*幅。4列になります。*/
		margin-right: 2%;	/*右側へのマージン。ボックス同士の左右の余白です。*/
	}
	
	/*4の倍数目のボックスの右側のマージンをなくす*/
	.list-flex .list:nth-of-type(4n) {
		margin-right: 0;
	}

	/*ボックス内のtextブロックだけ伸ばす*/
	.list-flex .list .text {
		flex: 1;
	}

	}/*追加指定ここまで*/



/*mainブロック設定
---------------------------------------------------------------------------*/
main {
	margin: 2rem 0;			/*ブロックの外側（上下、左右）に空けるスペース*/
}



/*リセットCSS（sanitize.css）の読み込み
---------------------------------------------------------------------------*/
@import url("https://unpkg.com/sanitize.css");

/*Font Awesomeの読み込み
---------------------------------------------------------------------------*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

/*lightbox.cssの読み込み
---------------------------------------------------------------------------*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css);

/*slick.cssの読み込み
---------------------------------------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");

/*テンプレート専用cssファイルの読み込み
---------------------------------------------------------------------------*/
@import url("animation.css");



/*全体の設定
---------------------------------------------------------------------------*/
html,body {
	height: 100%;
	font-size: 13px;	/*基準となるフォントサイズ。*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	html, body {
		font-size: 16px;	/*基準となるフォントサイズ。*/
	}

	}/*追加指定ここまで*/


body {
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;	/*フォント種類（ゴシック）*/
	-webkit-text-size-adjust: none;
	background: #fff;	/*背景色*/
	color: #777;		/*文字色*/
	line-height: 2;		/*行間*/
}

/*リセット*/
figure {margin: 0;}
dd {margin: 0;}
nav {margin: 0;padding: 0;}

/*table全般の設定*/
table {border-collapse:collapse;}

/*画像全般の設定*/
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

/*videoタグ*/
video {max-width: 100%;}

/*iframeタグ*/
iframe {width: 100%;}

/*他*/
input {font-size: 1rem;}
section + section {
	margin-top: 3rem;
}


/*リンクテキスト全般の設定
---------------------------------------------------------------------------*/
a {
	color: #777;	/*文字色*/
	transition: 0.3s;	/*hoverまでにかける時間。0.3秒。*/
}

/*マウスオン時*/
a:hover {
	filter: brightness(1.1);	/*少しだけ明るくする*/
}


/*コンテナー（サイト全体を囲むブロック）
---------------------------------------------------------------------------*/
#container {
	height: 100%;
	display: flex;	/*flexボックスを使う指定*/
	flex-direction: column;	/*子要素を縦並びにする*/
	justify-content: space-between;	/*並びかたの種類の指定*/
	max-width: 1800px;	/*サイトの最大幅。これ以上広がらない。*/
	margin: 0 auto;
}


/*コンテンツ（フッター関連「以外」を囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	flex: 1;
	padding: 3%;	/*コンテンツ内の余白*/
}


/*header（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	padding: 20px 120px 20px 3%;	/*上下、左右へのヘッダー内の余白*/
	display: flex;					/*flexボックスを使う指定*/
	justify-content: space-between;	/*並びかたの種類の指定*/
	align-items: center;			/*垂直揃えの指定。天地中央に配置されるように。*/
	background: #ede4e1;				/*背景色*/
}

/*ロゴ*/
#logo img {display: block;}
#logo {
	max-width: 100px;	/*幅*/
}

	/*画面幅600px以下の追加指定*/
	@media screen and (max-width:600px) {

	/*ヘッダーブロック*/
	header {
		flex-direction: column;	/*子要素を縦並びにする*/
		align-items: stretch;	/*デフォルトに戻す*/
		padding-right: 80px;	/*右側へのpaddingだけ上書き*/
	}

	}/*追加指定ここまで*/


/*ヘッダー右側のブロック*/
#header-right {
	font-size: 0.8rem;	/*文字サイズ。bodyで指定したサイズの80%に。*/
}


/*メニューブロック設定
---------------------------------------------------------------------------*/
#menubar a {display: block;text-decoration: none;}
#menubar ul {list-style: none;margin: 0;padding: 0;}
#menubar {display: none;}
#menubar.d-b, #menubar_hdr.d-b {display: block;}
#menubar.d-n, #menubar_hdr.d-n {display: none;}


/*メニューブロック設定
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar {
	position: fixed;overflow: auto;z-index: 100;
	left: 0px;top: 0px;
	width: 100%;
	height: 100%;
	padding: 100px 20px 20px;			/*ブロック内の余白。上、左右、下。*/
	background: rgba(0,0,0,0.9);		/*背景色。0,0,0は黒の事で0.9は色が90%出た状態。*/
	text-align: center;					/*内容をセンタリング*/
	animation: animation1 0.2s both;	/*animation.cssのanimation1を実行する。0.2sは0.2秒の事。*/
	color: #fff;	/*文字色*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	#menubar {
		width: 70%;		/*メニュー幅を上書き*/
	}

	}/*追加指定ここまで*/


/*メニュー１個あたりの設定*/
#menubar a {
	color: inherit;
	padding: 10px;		/*メニュー内の余白*/
}


/*３本バー（ハンバーガー）アイコン設定
---------------------------------------------------------------------------*/
/*３本バーを囲むブロック*/
#menubar_hdr {
	position: fixed;z-index: 101;
	cursor: pointer;
	right: 30px;			/*右からの配置場所指定*/
	top: 30px;				/*上からの配置場所指定*/
	padding: 16px 14px;		/*上下、左右への余白*/
	width: 30px;			/*幅（３本バーが出ている場合の幅になります）*/
	height: 30px;			/*高さ*/
	display: flex;					/*flexボックスを使う指定*/
	flex-direction: column;			/*子要素（３本バー）を縦並びにする*/
	justify-content: space-between;	/*並びかたの種類の指定*/
	background: rgba(0,0,0,0.3);	/*背景色*/
	border-radius: 50%;				/*円形にする*/
}

/*バー１本あたりの設定*/
#menubar_hdr span {
	display: block;
	transition: 0.3s;	/*アニメーションにかける時間。0.3秒。*/
	border-top: 1.5px solid #fff;	/*線の幅、線種、色*/
}

/*×印が出ている状態の設定。※１本目および２本目のバーの共通設定。*/
#menubar_hdr.ham span:nth-of-type(1),
#menubar_hdr.ham span:nth-of-type(3) {
	transform-origin: center center;	/*変形の起点。センターに。*/
	width: 20px;						/*バーの幅*/
}

/*×印が出ている状態の設定。※１本目のバー。*/
#menubar_hdr.ham span:nth-of-type(1){
	transform: rotate(45deg) translate(3.8px, 5px);	/*回転45°と、X軸Y軸への移動距離の指定*/
}

/*×印が出ている状態の設定。※３本目のバー。*/
#menubar_hdr.ham span:nth-of-type(3){
	transform: rotate(-45deg) translate(3.8px, -5px);	/*回転-45°と、X軸Y軸への移動距離の指定*/
}

/*×印が出ている状態の設定。※２本目のバー。*/
#menubar_hdr.ham span:nth-of-type(2){
	display: none;	/*２本目は使わないので非表示にする*/
}


/*フッター設定
---------------------------------------------------------------------------*/
footer small {font-size: 100%;}
footer {
	font-size: 0.7rem;		/*文字サイズ。bodyのfont-sizeの70%です。*/
	background: #ede4e1;		/*背景色*/
	text-align: center;		/*内容をセンタリング*/
	padding: 20px;			/*ボックス内の余白*/
}

/*リンクテキスト*/
footer a {color: inherit;text-decoration: none;}

/*著作部分*/
footer .pr {display: block;}


/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.pagetop-show {display: block;}

/*ボタンの設定*/
.pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 99;
	position: fixed;	/*スクロールに追従しない(固定で表示)為の設定*/
	right: 20px;		/*右からの配置場所指定*/
	bottom: 20px;		/*下からの配置場所指定*/
	color: #fff;		/*文字色*/
	font-size: 1.5rem;	/*文字サイズ*/
	background: rgba(0,0,0,0.2);	/*背景色。0,0,0は黒の事で0.2は色が20%出た状態。*/
	width: 60px;		/*幅*/
	line-height: 60px;	/*高さ*/
	border-radius: 50%;	/*円形にする*/
}


/*その他
---------------------------------------------------------------------------*/
.clearfix::after {content: "";display: block;clear: both;}
.color-check, .color-check a {color: #ff0000 !important;}
.l {text-align: left !important;}
.c {text-align: center !important;}
.r {text-align: right !important;}
.ws {width: 95%;display: block;}
.wl {width: 95%;display: block;}
.mb0 {margin-bottom: 0px !important;}
.mb30 {margin-bottom: 30px !important;}
.look {display: inline-block;padding: 0px 10px;background: #eee;border: 1px solid #ccc; border-radius: 3px;margin: 5px 0; word-break: break-all;}
.small {font-size: 0.75em;}
.large {font-size: 2em; letter-spacing: 0.1em;}
.pc {display: none;}
.dn {display: none !important;}
.block {display: block !important;}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	.ws {width: 48%;display: inline;}
	.sh {display: none;}
	.pc {display: block;}

	}/*追加指定ここまで*/


	/*ギャラリー*/
	* {
		margin:0;
		padding: 0;
	}
	.container {
		margin: 0 auto;
		padding: 10px 5px;
	}
	.characterinfo {
		text-align: center;
		padding: 10px;
	}
	
	li {   
		margin: 5px;
		display: inline-block;
	}
	image {
		width: 150px;
		height: 200px;
	}
	figcaption {
		padding-top: 10px;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
	}

	/*ホバーリンク*/
	.image_link{
 display:block; 
 position:relative;
 text-decoration:none;
}
.image_link img{
  display:block;
  width:100%;
}
.image_link:before{
  content:"";
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  background:#655577;/*好みの色に変えてください。*/
  opacity:0;
  transition:0.3s;
}
.image_link:after{
  content:"MORE";/*好みの文章に変更してください。*/
  display:block;
  color:#fff;
  line-height:40px;
  width:50%;
  border:solid 1px #fff;
  border-radius:5px;
  text-align:center;
  position:absolute;
  top:40%;
  left:50%;
  margin-top:-1em;
  margin-left:-90px;
  opacity:0;
  z-index:3;
  transition:0.3s;
  font-weight:bold;
  letter-spacing:0.2em;
}
.image_link:hover:before{
  opacity:0.5;
}
.image_link:hover:after{
  opacity:1;
  margin-top:-0.5em;
}